fastapi
uvicorn[standard]
pydantic
pydantic-settings
sqlalchemy
geoalchemy2
asyncpg
httpx
langgraph
langchain-core
groq
python-dotenv
numpy
pandas
scikit-learn
xgboost
jinja2
langchain-groq 
firebase-admin
itsdangerous 
pyyaml 
shapely